<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Livro</title>
    <link rel="stylesheet" href="/cadastro/style.css" />
  </head>
  <body>
    <div class="container">
      <form class="livro-form" id="edit-livro-form">
        <h1>EDITAR CADASTRO</h1>

        <div class="input-group">
          <input type="text" id="titulo" name="titulo" placeholder="titulo" required />
          <input type="text" id="autor" name="autor"  placeholder="autor" required />
          <input type="text" id="editora" name="editora" placeholder="editora" required />
          <input type="hidden" id="id" name="id" value="<%= id %>">
        </div>
        
        <button type="submit">atualizar</button>
        
        <p><a href="../login/index.html">Voltar</a></p>
      </form>

      <script src="/livros/scriptsEdit.js"></script>
    </div>
    
  </body>
</html>