<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Livro</title>
    <link rel="stylesheet" href="/public/livros/style.css" />
  </head>
  <body>
    <h1>Editar Livro</h1>
    <form id="edit-livro-form">
      <input type="text" id="titulo" name="titulo" placeholder="Título" required />
      <input type="text" id="autor" name="autor" placeholder="Autor" required />
      <button type="submit">Salvar</button>
      <p><a href="../index.html">Voltar</a></p>
    </form>
    <script src="/public/livros/scriptsEditLivros.js"></script>
  </body>
</html>
