<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visualizar Cadastro</title>
    <link rel="stylesheet" href="/biblioteca/public/livros/style.css" />
  </head>
  <body>

    <div class="container">
      <h1>VISUALIZAR LIVROS</h1>

      <div id="cadastro-details">
        <p><strong>Nome:</strong> <span id="nome"></span></p>
        <p><strong>Email:</strong> <span id="autor"></span></p>
      
        <p><a href="../login/index.html">Voltar</a></p>
      </div>

      <script src="/public/livros/scrptsShowLivros.js"></script>
    </div>
    
  </body>
</html>
