body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: green;
    text-align: center;
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input, button {
    display: block;
    margin-bottom: 10px;
    margin-left: 40%;

}
