<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cadastrar usuarios</title>
    <link rel="stylesheet" href="/public/cadastro/style.css" />
  </head>
  <body>
    <h1>CADASTRO</h1>
    <form id="add-cadastro-form" action="/usuarios"  method="POST">
      <input type="text" id="nome" name="nome" placeholder="nome" required />
      <input type="email" id="email" name="email"  placeholder="email" required />
      <input type="password" id="senha" name="senha" placeholder="senha" required />

      <button type="submit">cadastrar</button>
      <p><a href="../login/index.html">Voltar</a></p>
    </form>
    <h2>Cadastrados</h2>
    <ul id="cadastro-list"></ul>
    <script src="/public/cadastro/scripts.js"></script>
  </body>
</html>
