<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deletar Usuário</title>
    <link rel="stylesheet" href="/cadastro/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Deletar Usuário</h1>
      <p>Tem certeza que deseja deletar o usuário?</p>
      <button id="delete-button">Deletar</button>
      <script src="/cadastro/scriptsDelete.js"></script>
    </div>
  </body>
</html>