<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Cadastro</title>
    <link rel="stylesheet" href="/cadastro/style.css" />
  </head>
  <body>

    <div class="container">
      <form class="cadastro-form" id="edit-cadastro-form">

        <h1>EDITAR CADASTRO</h1>

        <div class="input-group">
          <input type="text" id="nome" placeholder="nome" required />
        </div>

        <div class="input-group">
          <input type="text" id="email" placeholder="email" required />
        </div>

        <div class="input-group">
          <input type="text" id="senha" placeholder="senha" required />
        </div>
  
        <button type="submit">atualizar</button>

        <p><a href="../login/index.html">Voltar</a></p>
      </form>

      <script src="/cadastro/scriptsEdit.js"></script>
    </div>
    
  </body>
</html>
