<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visualizar Cadastro</title>
    <link rel="stylesheet" href="/public/cadastro/style.css" />
  </head>
  <body>
    <h1>Visualizar Cadastro</h1>
    <div>
      <label for="nome">Nome:</label>
      <span id="nome"></span>
    </div>
    <div>
      <label for="email">Email:</label>
      <span id="email"></span>
    </div>
    <div>
      <label for="senha">Senha:</label>
      <span id="senha"></span>
    </div>
    <p><a href="../index.html">Voltar</a></p>
    <script src="/public/cadastro/scriptsShow.js"></script>
  </body>
</html>
